<p>jobprovider works!</p>

<div class="container-fluid">
    <nav class=" mt-1 navbar navbar-expand-lg bg-info navbar-dark danger-color rounded">
      <!-- Brand -->
      <img class="rounded-circle" width="45" src="assets\Photos\MKU-job-portal-removebg-preview.png" alt="Job Portal Logo" id="logobrand"><a class="navbar-brand "
        id="logo"><B>Job Portal</B></a>
      
        <div class="spacer"></div>
      <!-- Links -->
      <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="'/postjob'">PostJob</a>
            </li>
            <!-- (click)="jobs()" -->
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="'/appliedseeker'">Applied Seeker</a>
            </li>
            <!-- (click)="appliedjobs()" -->
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="'postedjobs'">Company Posted Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="'/provprofile'">Company Profile</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="'/login'">Logout</a>
              </li>
          </ul>
    </div>
    </nav>
  </div>
<!-- <h1 class="text-center mt-5">DASHBOARD</h1> -->
<div class="container mt-2 dashboard">
          
    <!-- <router-outlet></router-outlet> -->
</div>



