<!-- <p>home works!</p> -->

<div class="image-container">
  
<img class="background-image" src="assets\Photos\job-search-top-bg.jpg"
      alt="Background Image">
      
  <!-- assets\images\office-desk-with-headset-notepad-remote-office-work-from-home-concept-top-veiw-flat-lay_522560-19996.jpg -->

  <div class="overlay-form" src="overlay.png" alt="Overlay Form">


<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Job Portal Logo"
      src="assets\Photos\MKU-job-portal-removebg-preview.png"/>
    <span>Welcome To Job Portal Website</span>
      <div class="spacer"></div>

      <div class=" button-container">
       <button type="button" class="btn btn-primary"  [routerLink]="['/login']" mdbRipple style="background-color: lightskyblue;" >login</button>
  
      <button type="button" class="btn btn-primary" [routerLink]="['/register']" mdbRipple style="background-color: lightsalmon;" >Register</button>

      <button type="button" class="btn btn-primary" [routerLink]="['/seekjobsearch']" mdbRipple style="background-color: rgb(45, 169, 103);" >Search</button>
      </div>

      

  </div>
  <div class="title-head">
    <h1> Find your Dream Job now </h1>
    <h4> Number jobs for you to explore  </h4>


  </div>


  <main class="container">
    <!-- <router-outlet></router-outlet>  -->
    </main>
    
    <div class="footer bg-blue text-muted p-2  mt-4">
        <!-- <p> Copyright by &copy; Education Academy</p> -->
        <h3 style=" color: white;"> &copy; 2023</h3>
      </div>
      
  </div>
</div>
